extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          .card
            .header
              h4.title #{title}
            .content
              form(method="POST")
                input(type='hidden', name='_csrf', value=_csrf)
                input#hostUrl(type='hidden', name='hostUrl')
                script.
                  function extractHostname(url) {
                    var hostname;
                    //find & remove protocol (http, ftp, etc.) and get the hostname
                    if (url.indexOf("://") > -1) {
                        hostname = url.split('/')[2];
                    }
                    else {
                        hostname = url.split('/')[0];
                    }

                    //find & remove port number
                    //hostname = hostname.split(':')[0];

                    return hostname;
                  }
                  function extractRootDomain(url) {
                    var domain = extractHostname(url),
                        splitArr = domain.split('.'),
                        arrLen = splitArr.length;

                    //extracting the root domain here
                    if (arrLen > 2) {
                        domain = splitArr[arrLen - 2] + '.' + splitArr[arrLen - 1];
                    }
                    return domain;
                  }
                  document.getElementById('hostUrl').value=extractRootDomain(window.location.host);
                .row
                  .col-md-12
                    .form-group
                      label(for='company-name') Имя компании
                      input.form-control.border-input(type='text', id='company-name', name='title', placeholder='Имя компании', autofocus, required)
                .row
                  .col-md-12
                    .form-group
                      label(for='company-decription') Описание компании
                      textarea.form-control.border-input(type='text', rows='7', id='company-decription', name='description', placeholder='Описание компании', required)
                .row
                  .col-md-12
                    .form-group#slug
                      label(for='company-slug') Короткое имя компании
                      br
                      small#slug-error-message.alert-danger(style='display: none;') Только цифры и английские буквы доступны для ввода.
                      input.form-control.border-input(type='text', id='company-slug', name='slug', placeholder='Короткое имя компании(только англ.)', pattern="[a-zA-Z]" required)
                    script.
                      var slug = document.getElementById('company-slug');
                      slug.addEventListener('input', function(){
                        var val = this.value;
                        var re = new RegExp('^[a-zA-Z0-9]+$', 'gi');
                        if(re.test(val)){
                          document.getElementById('slug-error-message').style = 'display: none;';
                          document.getElementById('slug').classList.remove('has-error', 'has-feedback');
                        } else {
                          document.getElementById('slug-error-message').style = 'display: block; background-color: #fff';
                          document.getElementById('slug').classList.add('has-error', 'has-feedback');
                          this.value = val.slice(0, -1);
                        }
                      });
                .row
                  .col-md-12
                    .form-group
                      label(for='company-address') Адрес

                .row
                  .col-md-12
                    .form-group
                      label(for='company-address-street') Адрес
                      input.form-control.border-input(type='text', id='company-address-street', name='addressStreet', placeholder='Адрес', required)
                .row
                  .col-md-6
                    .form-group
                      label(for='company-address-city') Город
                      input.form-control.border-input(type='text', id='company-address-city', name='addressCity', placeholder='Город', required)
                  .col-md-6
                    .form-group
                      label(for='company-address-region') Регион
                      input.form-control.border-input(type='text', id='company-address-region', name='addressRegion', placeholder='Регион', required)
                .row
                  .col-md-12
                    .text-center
                      button.btn.btn-primary(type='submit') Конвертировать
                      a.btn.btn-danger(href='/account') Отмена