mixin category-menu(category)
  li.col-sm-4
    ul
      li.dropdown-header #{category.title}
      li
        a(href='/update/'+category.slug) Редактировать
      li
        a(href='/category/'+category.slug) Просмотр категории
      li
        a(href='/category/'+category.slug+'/new') Создать в категории
      li
        a(href='/delete/'+category.slug) Удалить категорию
      li.divider

for category in categoryList
  +category-menu(category)