if messages.errors
  .toast.toast-danger
    button.btn.btn-clear.float-right
      //- i.fa.fa-times-circle-o
    for error in messages.errors
      div.msg= error.msg
if messages.info
  .toast.toast-primary
    button.btn.btn-clear.float-right
      //- i.fa.fa-times-circle-o
    for info in messages.info
      div.msg= info.msg
if messages.success
  .toast.toast-success
    button.btn.btn-clear.float-right(data-close='toast')
      //- i.fa.fa-times-circle-o
    for success in messages.success
      div.msg= success.msg
