mixin category-menu(category)
  li(class=(title == category.title) ? 'active' : undefined)
    a(href='/category/'+category.slug) #{category.title}

footer.bg-dark
  section.container(style="height: 200px;")
    .columns
      .column.col-2.hide-md
      .column.col-2.col-md-3.col-sm-6
      .column.col-2.col-md-3.col-sm-6
      .column.col-2.col-md-3.col-sm-6
      .column.col-2.col-md-3.col-sm-6
      .column.col-2.hide-md