.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-bars
        | i
        span.small nteractive
        | Menu
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li.dropdown(class=(title == 'List') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown') Категории
              i.caret
            ul.dropdown-menu
              include category.menu.mixin.pug
          if isAdmin
            li.dropdown(class=(title == 'Dashboard') ? 'active' : undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown') Администрирование
                i.caret
              ul.dropdown-menu
                li
                  a(href='/new') Создать категорию
                li.divider
                include category.menu.admin.mixin.pug
              
        li(class=(title == 'Order') ? 'active' : undefined)
          a#order(href='/order') 
            | Заказ
            span.badge#order-count
          //- li(class=(title == 'API Examples') ? 'active' : undefined)
          //-   a(href='/api') API Examples
          //- li(class=(title == 'Contact') ? 'active' : undefined)
          //-   a(href='/contact') Contact
          //- li
          //-   a(href='/status') Status
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') 
              i.fa.fa-sign-in
              | Войти
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') 
              i.fa.fa-user-plus
              | Создать аккаунт
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') 
                  i.fa.fa-user
                  | Мой аккаунт
              li
                a(href='/order')
                  i.fa.fa-first-order
                  | Мой заказ
                  span.badge 
                    | 3
              li
                a(href='/history') 
                  i.fa.fa-history
                  | История заказов
              li.divider
              li
                a(href='/logout') 
                  i.fa.fa-sign-out
                  | Выход
