nav.greedy-nav.navbar.navbar-default.navbar-fixed-top
  button
    div.hamburger
  ul.visible-links
    li
      a(href='#') navigation
    li
      a(href='#') navigation
    li
      a(href='#') navigation
    li
      a(href='#') navigation
    li
      a(href='#') navigation
    li
      a(href='#') navigation
    li
      a(href='#') navigation
    li
      a(href='#') navigation
  ul.hidden-links.hidden