section.section.section-header.bg-gray
  section.grid-header.container.grid-960
    nav.navbar
      section.navbar-section
        a.btn.btn-link.show-md(href='#category') Категории
        if !isAdmin
          a.btn.btn-link.order.show-md(href='/order') 
            | Заказ
            span.badge.order-count

      section.navbar-primary
        a(href='/')
          figure.avatar.avatar-lg(data-initial='iM', style="background-color: #5764c6;")

      section.navbar-section
        if !user
          a.btn.btn-link(href='/login') 
            i.fa.fa-sign-in
            | Войти
          a.btn.btn-link(href='/signup') 
            i.fa.fa-user-plus
            | Создать аккаунт
        else
          a.btn.btn-link.show-md(href='#sidebar') 
            | Управление
            if isAdmin
              span.badge.notify(aria-hidden='true', style='display: none;')
