section.section.section-header.bg-gray
  section.grid-header.container.grid-960
    nav.navbar
      section.navbar-section
        a.btn.btn-link(href='/category') Категории
        if !isAdmin
          a.btn.btn-link.order(href='/order') 
            | Заказ
            span.badge.order-count

      section.navbar-primary
        figure.avatar.avatar-lg(data-initial='iM', style="background-color: #5764c6;")

      section.navbar-section
        if isAdmin
          a.btn.btn-link(href='/order-open') 
            | Открытые
            i.fa.fa-bell#notify(aria-hidden='true', style='display: none;')
          a.btn.btn-link(href='/order-close') 
            | Закрытые
          audio#notify-audio
            source(src='/notify/notify.mp3', type='audio/mpeg')
        a.btn.btn-link.hide-md(href='#sidebar') 
          | Управление
        a(href="#sidebar", class="btn btn-lg btn-link btn-action show-md")
          i.fa.fa-bars
