if isAdmin
	#success.message.toast.toast-success
		a.btn-close#btn-success(href='javascript:void(0);', title='Close') &times;
		a.toast-title(href='/order-open')
			span.message__title
				| Новый заказ
