.category-card{
	overflow: hidden;
	.category-card-header{
		a{
			position: relative;
			img.logo{
		    min-width: 100%;
		    object-fit: cover;
		    max-height: 300px;
			}
			&:hover{
				.category-card-description{
					opacity: 1;
				}
			}
			.category-card-description{
				opacity: 0.5;
				position: absolute;
				background-color: #fff;
				color: #000;
				bottom: 0;
				margin: 1em;
				padding: 1em;
				.category-title{
					margin: 0;
					width: 300px;
				}
			}
		}
	}
}

.hystory{
	opacity: .7;
}