.message {
  width: 200px;
  position: absolute;
  right: 1em;
  bottom: 1em;
  margin: 20px auto;
  padding: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-left-width: 8px;
  border-left-style: solid;
  border-radius: 5px;
  display: none;
}

.message__title {
	font-weight: 700;
}

.btn-close {
	float: right;
	text-decoration: none;
	color: inherit; /* link inherit color from parent block .message */
}

.btn-close:focus {
	outline: none;
}

.message#success {
	background-color: #61b832;
	color: #296829;
	border-left-color: #55a12c;
}