.order-cart-item{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	div{
		flex: 1 100%;
		// border: 1px solid black;
	}
	.cart-item-title{
		padding: 0 15px;
	}
	.cart-item-img,
	{
		flex: 1 20%;
	}
	.price-block,
	.cart-item-count{
		flex: 1 20%;
		min-width: 50px;
	}
	.delete-btn{
		flex: 1 10%;
	}
}

.open-order{
	.cart-item-title{
		padding: 0;
	}
	.cart-item-title,
	.cart-item-count{
		p{
			border-bottom: 1px dotted #eee;	
		}
	}
}