mixin category-list(category)
	.col-lg-3.col-md-4.col-sm-6
		.category-card
			.category-card-header
				a(href='/category/'+category.slug)
					img(src='/uploads/'+category.logo, class='img-responsive logo category-card-logo')
					.category-card-description
						h2.category-title #{category.title}
						| #{category.description}

for category in categoryList
	+category-list(category)