mixin category-list(category)
	.column.col-3.col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12.flex
		.card
			.card-image
				a(href='/category/'+category.slug)
					img(src=category.logo, class='img-responsive logo category-card-logo')
			.card-header
				.card-title #{category.title}
				.card-subtitle #{category.description}
			//- .card-body

for category in categoryList
	+category-list(category)