extends ../layout

block content
	.page-header
		h1#page-header Заказ

	.row
		include order.list.mixin.pug
	hr
	h4.pull-right.total
		strong
			| Итого: 
			span#total #{inTotalWithDiscount}
		i.fa.fa-rub