extends ../layout

block content
  .page-header
    h1#page-header Заказ

  include order.list.mixin.pug
  hr
  include order.history.list.mixin.pug  
  hr
  h4.text-right.total
    strong
      | Итого: 
      span#total 
        =inTotalWithDiscount+inTotalhistoryWithDiscount
    i.fa.fa-rub
  hr
  .row
    form.form-horizontal.col-sm-12#send-order(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-xs-12.control-label(for='comment') Комментарий к заказу
        .col-xs-12
          textarea.form-control(name='comment', id='comment', placeholder='Комментарий к заказу', rows='7', required) #{orderComment}
          span.small
            | В комментарии к заказу 
            strong обязательно 
            | укажите номер столика и всё то, что сочтёте нужным указать дополнительно.
      
      .form-group
        .col-sm-12
          button.col-sm-12.btn.btn-success(type='submit')
            | Отправить заказ
