extends ../layout

block content
  .page-header
    if isAdmin
      ul.category-menu
        li.dropdown(class=(title == 'Dashboard') ? 'active' : undefined)
          h1(data-toggle='dropdown') #{categoryTitle.toUpperCase()}
            i.fa.fa-caret-square-o-down
          ul.dropdown-menu
            li
              a(href='/update/'+categorySlug) Редактировать
            li
              a(href='/category/'+categorySlug+'/new') Создать в категории
            li.divider
            li
              a(href='/delete/'+categorySlug) Удалить категорию
    else
      h1 #{categoryTitle.toUpperCase()}

  .row
    include product.list.mixin.pug