mixin product-list(product)
	.col-lg-3.col-md-4.col-sm-6
		.product-card
			.product-card-header
				a(href='/category/'+categorySlug+'/'+productSlug)
					img(src='http://placehold.it/500x500', class='img-responsive logo product-card-logo')
					h2.product-title #{productTitle}
			.product-card-description #{productDescription}

for product in productList
	+product-list(product)