-function convert(serverDate) {
-    var dt = new Date(Date.parse(serverDate));
- 	 console.log(dt);
-    //dt = dt.toString("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'");
-		 dt = dt.toLocaleString();
-    return dt;
-}